PORT=5001
MONGODB_URI=mongodb+srv://aayush:AAyush%402003@cluster0.wmkgnvu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-12345
CLIENT_URL=http://localhost:5173
